extends layout

block content
    .container
        .jumbotron
            .container
                h1 你喜欢虚拟现实吗?
                p 讲个故事吧!
                p 主人公是一个 "实习警察" 想着维护正义
                p 后来转职成为 "中医学徒" 希望消除痛苦
                p 而现在他成为 "游戏开发" 使用虚拟现实
                a.btn.bg-primary.btn-lg(href='/') 虚拟现实什么鬼

    .container
            .row
                .col-md-4
                    h2 唐俊龙
                    p 这个故事主人公,是关于一个发生在刚刚毕业大学生身上的故事
                    a.btn.btn-default(href='/income') 更多视频
                .col-md-4
                    h2 面包
                    p 故事背景发生在矩阵动力,这是一家机器人公司,建立于深圳,而来这个公司的第一天,一个衣衫褴褛的,面无表情的人,就是面包,面包是第一个帮唐俊龙放行李去出租房的人
                    a.btn.btn-default(href='/story') 更多作品
                .col-md-4
                    h2 绝望世界
                    p 故事背景是在唐俊龙离开矩阵动力之后,建立的第一个工作室,其中也有一些缘由
                    a.btn.btn-default(href='/meet') 拜访我们