<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="关于一个在深圳提供虚拟现实技术支持组织的网站,这里有关于他们在深圳创业的收入来源,如何生存的故事">
    <meta name="author" content="唐俊龙">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/contact.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/income">收入</a></li>
            <li><a href="/story">故事</a></li>
            <li><a href="/meet">遇见</a></li>
            <li><a href="/contact">留言</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1></h1>
      <p>如意餐厅</p>
      <p>蔬菜老板娘</p>
      <p>肉店</p>
      <p>美宜佳</p>
    </div>
    <footer class="container">
      <p>© Company 2017 中二虚拟现实技术(深圳)有限公司</p><a>粤ICP备17163302号-1</a>
    </footer>
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
  </body>
</html>